@import '../../../assets/scss/variables';

.suggested-words-heading {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  gap: 10px;

  &__text {
    color: $textPrimary;
  }
}

.es-form-field {
  margin-bottom: 32px;
}

.words-expansion-panel {
  margin-top: 8px;
  box-shadow: none;

  &__header {
    padding-left: 0;
    background: none;
  }

  &__title {
    color: $accent2;
  }
}

.sort-button {
  margin-bottom: 32px;
}
