$baseFont: Roboto, "Helvetica Neue", sans-serif;

$bgPrimary: #f8fafc;
$bgSecondary: #2e4560;

$primary: #395173;
$primaryLight: #9ca8b9;
$primaryLight4: #8897ab;
$accent2: #296dc2;
$accentDark: #7f6c17;
$accentLight: #fff7d5;
$add: #ddd;

$iconPrimary: #395173;
$iconSecondary: #6f84a3;
$iconAccent2: #296dc2;
$iconAccentDark: #7f6c17;

$textPrimary: #395173;
$textSecondary: #6f84a3;
$textAccent2: #296dc2;
$textAccentDark: #7f6c17;
$textAdd: #4c4c4c;
$textAdd2: rgba($textAdd, 0.85);
