.login-page-dialog-background {
    background-color: transparent;
}

.logo {
    display: block;
    margin: 0 auto;

}

.login-page-dialog {
    width: 600px;
}

.logo {
    display: block;
    margin: 0 auto;
}
